head 
link(rel='stylesheet', href='../../stylesheets/style--login.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

.wrapper
  .container
    .form
      .main-div 
        .panel 
        if info && info.message
          div.alert.alert-danger
          = info.message
        h2 Recuperacion de password
        p Por favor, ingrese su email y le enviarermos a esta cuenta las indicaciones de reseteo de password  
      form#Login(action='/forgotPassword' method='post') 
        .form-group
          input#email.form-control(type='email' placeholder='Email Address' name='email')
        button.login-btn(type='submit') Resetear 