head 
link(rel='stylesheet', href='../../stylesheets/style--login.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

.wrapper
  .container
    .form
      .main-div 
        .panel 
          h2 Recuperacion de password 
          p Revise su cuenta de email, allí le llegaran las instrucciones para el reseteo de password.
          a(href='/') Volver a inicio 