extends ../layout 

block content
  a(href='/kittys') Volver 

  br
  br
  br

  h1 Nueva Gato 

  br
  br

  form(action='/kittys/create' method='post')
    label(for="id") ID: 
    input#id(type="text" name='id')
    br
    label(for="nombre") Nombre: 
    input#nombre(type="text" name='nombre')
    br
    br
    input.btn(type="submit" value='ok')

